*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #011F26;
}

.container{
    width: 860px;
    height: 650px;
    background-color: #f2a71ba6;
    display: flex;
    padding: 40px 40px;
    border-radius: 20px;
}

.img-cadeado{
    width: 50%;
    height: 100%;
    background-color:#041e26;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 3px 4px;
    
}

.securit{
    width: 340px;
    
}

.form{
    width: 50%;
    height: 100%;
    background-color: #011F26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid white;
    box-shadow: 2px 3px 4px;
    
}

.user{
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.089);
    
}

.entrada{
    padding: 10px;
    width: 60%;
    margin: 7px auto;
    border: none;
    outline: none;
    background-color:rgba(241, 230, 230, 0.123);
    color: white;
    border-radius: 3px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.596);
}

button{
    width:40% ;
    padding: 7px;
    margin: 15px auto;
    background-color: #F2A71B;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
    background-color: #f2a71bad;
}





